<p id="notice"><%= notice %></p>

<h1>PUTA QUE O PARIU ESTA CRETINA VEM FAZER A FAXINA - PIRANHA - YEAH, AGORA FOI MOTHER FUCKER DE RAILS FILHO DA PUTA CRETIO### -- CHOQUE DE ORDEM ---- TDA TA NO PODER MANO - Listing Jobs</h1>

<%= render @jobs %>

<br>

<%= link_to 'New Job', new_job_path %>
<%= link_to  'Premium', root_path %>
